---
layout: default
---

{% if site.data.theme.featured-image %}
<div class="jumbotron jumbotron-fluid mb-5" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% if site.data.theme.featured-image contains 'http' %}{{ site.data.theme.featured-image }}{% else %}{{ site.data.theme.featured-image | relative_url }}{% endif %}') center/cover no-repeat; min-height: {{ site.data.theme.home-title-y-padding | default: '12em' }};">
{% else %}
<div class="jumbotron jumbotron-fluid mb-5 bg-dark">
{% endif %}
    <div class="container text-center text-white py-5">
        <h1 class="display-4">{{ site.title }}</h1>
        {% if site.description %}<p class="lead">{{ site.description }}</p>{% endif %}
        <div class="mt-4">
            <a class="btn btn-primary btn-lg mx-2" href="{{ '/browse.html' | relative_url }}" role="button">Browse Collection</a>
            <a class="btn btn-outline-light btn-lg mx-2" href="{{ '/map.html' | relative_url }}" role="button">Explore Map</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{ content }}
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Collection Stats</h5>
                    <p class="card-text">
                        Items: {{ site.data.metadata | size }}<br>
                        {% assign subjects = site.data.metadata | map: "subject" | join: ";" | split: ";" | uniq | size %}
                        Subjects: {{ subjects }}<br>
                        {% assign dates = site.data.metadata | map: "date" | uniq | size %}
                        Years: {{ dates }}
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quick Links</h5>
                    <div class="list-group">
                        <a href="{{ '/browse.html' | relative_url }}" class="list-group-item list-group-item-action">Browse All Items</a>
                        <a href="{{ '/subjects.html' | relative_url }}" class="list-group-item list-group-item-action">Browse by Subject</a>
                        <a href="{{ '/map.html' | relative_url }}" class="list-group-item list-group-item-action">Browse by Location</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
